<pre><h3>AMITY Public API</h3></pre>
<pre><h4>Daemon</h4><ul>
<a href="./daemon/get_transaction_pool_stats/">daemon/get_transaction_pool_stats</a>
Gets transaction pool statistics

<a href="./daemon/get_tx_pubkey/">daemon/get_tx_pubkey</a>
Extracts the TX public key from the TX.Extra data
    extra: TX.Extra field to extract the pubkey from

<a href="./daemon/mining_status/">daemon/mining_status</a>
Gets the mining status of the node

<a href="./daemon/get_block_headers_range/">daemon/get_block_headers_range</a>
Gets the block headers in the specified range
    start_height: Height of the first block in the
    end_height: Height of the last block in the range

<a href="./daemon/decode_outputs/">daemon/decode_outputs</a>
Decodes the amounts in the transaction hashes provided
WARNING: This function requires you to send your private view key to the server
    hash[]: list of hashes to get tx data for
    address: the public address of the receiver
    viewkey: the private view key of the receiver
    example: gettransactions.php?hash[]=(hash1)&hash[]=(hash2)

<a href="./daemon/get_connections/">daemon/get_connections</a>
Gets the number of blocks in the longest chain

<a href="./daemon/get_transaction_pool/">daemon/get_transaction_pool</a>
Gets a list of transactions in the pool

<a href="./daemon/get_bans/">daemon/get_bans</a>
Gets a list of nodes blocked by this node

<a href="./daemon/get_block_count/">daemon/get_block_count</a>
Gets the number of blocks in the longest chain

<a href="./daemon/get_generated_coins/">daemon/get_generated_coins</a>
Gets the number of coins generated in the chain

<a href="./daemon/hard_fork_info/">daemon/hard_fork_info</a>
Gets hardfork information

<a href="./daemon/get_last_block_header/">daemon/get_last_block_header</a>
Gets the last block header

<a href="./daemon/get_block_template/">daemon/get_block_template</a>
Gets a block template
    address: Miner address to generate block template for
    res: Reserve size

<a href="./daemon/get_block/">daemon/get_block</a>
Gets a block by it's hash
    hash: Block hash to search for

<a href="./daemon/get_transactions/">daemon/get_transactions</a>
Gets a list of transactions by their hashes
    hash[]: list of hashes to get tx data for
    example: gettransactions.php?hash[]=(hash1)&hash[]=(hash2)

<a href="./daemon/get_peer_list/">daemon/get_peer_list</a>
Gets the peer list of the node

<a href="./daemon/get_block_header_by_hash/">daemon/get_block_header_by_hash</a>
Gets a block header by it's hash
    hash: Block hash to search for

<a href="./daemon/get_info/">daemon/get_info</a>
gets the current node information

<a href="./daemon/set_bans/">daemon/set_bans</a>
Block a node by the IP address
    ip: IP to ban
    ban: To ban or not true/false
    time: Number of seconds to ban for

<a href="./daemon/get_block_header_by_height/">daemon/get_block_header_by_height</a>
Gets a block header by it's height
    hash: Block height to search for

<a href="./daemon/start_mining/">daemon/start_mining</a>
Starts mining on the node
    address: The address to mine to
    threads: The number of threads to use (optional, default: 0/auto)
    background: Set to mine in the background (optional, default: false)
    ignore_battery: Ignore battery level when mining (optional, default: true)

<a href="./daemon/stop_mining/">daemon/stop_mining</a>
Stops mining on the node

<a href="./daemon/get_block_hash/">daemon/get_block_hash</a>
Gets a block hash at the specified height
    height: A height to return a block hash for

</ul></pre>
<pre><h4>Wallet</h4><ul>
<a href="./wallet/get_address/">wallet/get_address</a>
Gets the address of the wallet.
NOTE: RPC wallet must have --wallet-dir flag set to work
    account_index: The file name of the newly created wallet

<a href="./wallet/create_wallet/">wallet/create_wallet</a>
Creates a new wallet.
NOTE: RPC wallet must have --wallet-dir flag set to work
WARNING: This function requires you to send your password to the server
    filename: the faile name of the newly created wallet
    password: Password of the new wallet (optional)
    language: the private view key of the receiver (optional, default to English)

<a href="./wallet/get_balance/">wallet/get_balance</a>
Gets the balance of the wallet.
NOTE: RPC wallet must have --wallet-dir flag set to work
    account_index: Index to get the balance of (optional, default: 0)

<a href="./wallet/open_wallet/">wallet/open_wallet</a>
Opens a wallet.
NOTE: RPC wallet must have --wallet-dir flag set to work
WARNING: This function requires you to send your wallet password to the server
    filename: The file name of the newly created wallet
    password: Password of the new wallet (optional, leave blank for no password)

<a href="./wallet/restore_wallet_from_keys/">wallet/restore_wallet_from_keys</a>
Creates a new wallet.
NOTE: RPC wallet must have --wallet-dir flag set to work
WARNING: This function requires you to send your restored wallet password to the server
WARNING: This function requires you to send your private keys to the server
    filename: The file name of the newly created wallet
    address: The address of the wallet to restore
    spendkey: The private spend key of the wallet to restore
    viewkey: The private view key of the wallet to restore
    password: Password of the new wallet (optional)
    language: The language to use for the restored wallet seed (optional, default: 'English')
    restore_height: The height to restore the wallet from (optional, default: 0)

<a href="./wallet/transfer/">wallet/transfer</a>
Transfer funds
    address: Address to transfer to
    amount: Amount to send in atomic units

<a href="./wallet/get_transfers/">wallet/get_transfers</a>
Gets the transfers to/from the wallet.
    account_index: Index to get the transfer for (optional, default: 0)
    min_height: The minimum height to return results from (optional, default: 0)

<a href="./wallet/sweep_dust/">wallet/sweep_dust</a>
Sweeps the dust outputs back to the wallet.

<a href="./wallet/restore_wallet_from_seed/">wallet/restore_wallet_from_seed</a>
Creates a new wallet.
NOTE: RPC wallet must have --wallet-dir flag set to work
WARNING: This function requires you to send your restored wallet password to the server
WARNING: This function requires you to send your mnemonic seed to the server
    filename: the file name of the newly created wallet
    seed: The mnemonic seed of the wallet to restore
    seed_offset: The offset used to originally generate the seed (optional, default: null)
    password: Password of the new wallet (optional)
    language: the private view key of the receiver (optional, default: English)
    restore_height: The height to restore the wallet from (optional, default: 0)

<a href="./wallet/sweep_all/">wallet/sweep_all</a>
Transfer funds
    address: Address to transfer to
    amount: Amount to send in atomic units

<a href="./wallet/close_wallet/">wallet/close_wallet</a>
Closes the open wallet.
NOTE: RPC wallet must have --wallet-dir flag set to work

</ul></pre>
<pre><h4>External</h4><ul>
<a href="./external/tradeogre/">external/tradeogre</a>
Get market data from TradeOgre

</ul></pre>
<pre><h4>Analytics</h4><ul>
<a href="./analytics/prune/">analytics/prune</a>
Fetch analytics data

<a href="./analytics/fetch/">analytics/fetch</a>
Fetch analytics data

<a href="./analytics/submit/">analytics/submit</a>
Submits the callers IP address to the node map

</ul></pre>
